<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.DiscountRecordMapper">

    <resultMap type="com.yuepei.system.domain.DiscountRecord" id="DiscountRecordResult">
        <result property="id"    column="Id"    />
        <result property="issuer"    column="issuer"    />
        <result property="userid"    column="userId"    />
        <result property="price"    column="price"    />
        <result property="threshold"    column="threshold"    />
        <result property="status"       column="status"/>
        <result property="grantTime"    column="grant_time"    />
    </resultMap>

    <resultMap id="DiscountRecordVOResult" type="com.yuepei.system.domain.vo.DiscountRecordVO">
        <result property="sNickName" column="sNickName"/>
        <result property="hospitalName" column="hospitalName"/>
        <result property="uNickName" column="uNickName"/>
        <result property="price" column="price"/>
        <result property="threshold" column="threshold"/>
        <result property="status" column="status"/>
        <result property="grantTime" column="grant_time"/>
    </resultMap>

    <sql id="selectDiscountRecordVo">
        select Id,issuer, userId, price, threshold,status, grant_time,status from discount_record
    </sql>

    <sql id="DiscountRecordVo">
        select s.`nick_name` as sNickName,ifnull(h.`hospital_name`,'无') as hospitalName,su.`nick_name` as uNickName,
               dr.`price`,dr.`threshold`,dr.`status`,dr.`grant_time`
        from `discount_record` as dr
                 inner join sys_user as su on dr.`userId` = su.`user_id`
                 inner join sys_user as s on s.`user_id` = dr.`issuer`
                 inner join hospital_user as hu on hu.`user_name` = s.`user_name`
                 left join hospital as h on h.`hospital_id` = hu.`hospital_id`
    </sql>

    <select id="selectDiscountRecordList" parameterType="com.yuepei.system.domain.vo.DiscountRecordVO" resultMap="DiscountRecordVOResult">
        <include refid="DiscountRecordVo"/>
        <where>
            <if test="uNickName != null and uNickName != ''">
                and su.`nick_name` like concat('%', #{uNickName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(dr.grant_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(dr.grant_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectDiscountRecordById" parameterType="Long" resultMap="DiscountRecordResult">
        <include refid="selectDiscountRecordVo"/>
        where Id = #{id}
    </select>

    <insert id="insertDiscountRecord" parameterType="com.yuepei.system.domain.DiscountRecord" useGeneratedKeys="true" keyProperty="id">
        insert into discount_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="issuer != null">issuer,</if>
            <if test="userid != null">userId,</if>
            <if test="price != null">price,</if>
            <if test="threshold != null">threshold,</if>
            <if test="grantTime != null">grant_time,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="issuer != null">#{issuer},</if>
            <if test="userid != null">#{userid},</if>
            <if test="price != null">#{price},</if>
            <if test="threshold != null">#{threshold},</if>
            <if test="grantTime != null">#{grantTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>
    <insert id="sendDiscountRecord">
        insert into discount_record(`issuer`,`userId`,`price`,`threshold`,`grant_time`,`status`) values
        <foreach item="discountRecord" collection="userId1" index="index"  separator=",">
            (#{userId},#{discountRecord},#{discount.money},#{discountThreshold.thresholdName},#{date},#{discount.isStatus})
        </foreach>
    </insert>

    <update id="updateDiscountRecord" parameterType="com.yuepei.system.domain.DiscountRecord">
        update discount_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="issuer != null">issuer = #{issuer},</if>
            <if test="userid != null">userId = #{userid},</if>
            <if test="price != null">price = #{price},</if>
            <if test="threshold != null">threshold = #{threshold},</if>
            <if test="grantTime != null">grant_time = #{grantTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where Id = #{id}
    </update>

    <delete id="deleteDiscountRecordById" parameterType="Long">
        delete from discount_record where Id = #{id}
    </delete>

    <delete id="deleteDiscountRecordByIds" parameterType="String">
        delete from discount_record where Id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
