<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.DiscountMapper">

    <resultMap type="Discount" id="DiscountResult">
        <result property="id"    column="id"    />
        <result property="discountName"    column="discount_name"    />
        <result property="money"    column="money"    />
        <result property="thresholdId"    column="threshold_id"    />
        <result property="period"    column="period"    />
        <result property="status"    column="status"    />
        <result property="sentNum"    column="sent_num"    />
        <result property="unbilledNum"    column="unbilled_num"    />
        <result property="isStatus"    column="is_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDiscountVo">
        select id, discount_name, money, threshold_id, period, status, sent_num, unbilled_num, is_status, create_time, update_time from discount
    </sql>

    <select id="selectDiscountList" parameterType="Discount" resultMap="DiscountResult">
        <include refid="selectDiscountVo"/>
        <where>
            <if test="discountName != null  and discountName != ''"> and discount_name like concat('%', #{discountName}, '%')</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="thresholdId != null "> and threshold_id = #{thresholdId}</if>
            <if test="period != null "> and period = #{period}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sentNum != null "> and sent_num = #{sentNum}</if>
            <if test="unbilledNum != null "> and unbilled_num = #{unbilledNum}</if>
            <if test="isStatus != null "> and is_status = #{isStatus}</if>
        </where>
    </select>

    <select id="selectDiscountById" parameterType="Long" resultMap="DiscountResult">
        <include refid="selectDiscountVo"/>
        where id = #{id}
    </select>

    <insert id="insertDiscount" parameterType="Discount" useGeneratedKeys="true" keyProperty="id">
        insert into discount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="discountName != null">discount_name,</if>
            <if test="money != null">money,</if>
            <if test="thresholdId != null">threshold_id,</if>
            <if test="period != null">period,</if>
            <if test="status != null">status,</if>
            <if test="sentNum != null">sent_num,</if>
            <if test="unbilledNum != null">unbilled_num,</if>
            <if test="isStatus != null">is_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="discountName != null">#{discountName},</if>
            <if test="money != null">#{money},</if>
            <if test="thresholdId != null">#{thresholdId},</if>
            <if test="period != null">#{period},</if>
            <if test="status != null">#{status},</if>
            <if test="sentNum != null">#{sentNum},</if>
            <if test="unbilledNum != null">#{unbilledNum},</if>
            <if test="isStatus != null">#{isStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateDiscount" parameterType="Discount">
        update discount
        <trim prefix="SET" suffixOverrides=",">
            <if test="discountName != null">discount_name = #{discountName},</if>
            <if test="money != null">money = #{money},</if>
            <if test="thresholdId != null">threshold_id = #{thresholdId},</if>
            <if test="period != null">period = #{period},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sentNum != null">sent_num = #{sentNum},</if>
            <if test="unbilledNum != null">unbilled_num = #{unbilledNum},</if>
            <if test="isStatus != null">is_status = #{isStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDiscountById" parameterType="Long">
        delete from discount where id = #{id}
    </delete>

    <delete id="deleteDiscountByIds" parameterType="String">
        delete from discount where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
