<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.InvestorUserMapper">

    <resultMap type="com.yuepei.system.domain.InvestorUser" id="InvestorUserResult">
        <result property="id"    column="id"    />
        <result property="account"    column="account"    />
        <result property="password"    column="password"    />
        <result property="phone"    column="phone"    />
        <result property="nickName"    column="nick_name"    />
        <result property="hospitalId"    column="hospital_id"    />
        <result property="proportion"    column="proportion"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="totalProportion" column="totalProportion"/>
    </resultMap>

    <resultMap type="com.yuepei.common.core.domain.entity.SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="openid"     column="openid"    />
        <result property="balance"     column="balance"    />
        <result property="integral"     column="integral"    />
        <result property="email"        column="email"        />
        <result property="phoneNumber"  column="phone_number"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
        <result property="userType"		column="user_type"	  />
        <result property="proportion"   column="proportion"/>
        <result property="parentId" column="parent_id"/>
        <association property="dept"    column="dept_id" javaType="com.yuepei.common.core.domain.entity.SysDept" resultMap="deptResult" />
        <collection  property="roles"   javaType="java.util.List"           resultMap="RoleResult" />
    </resultMap>

    <resultMap id="deptResult" type="com.yuepei.common.core.domain.entity.SysDept">
        <id     property="deptId"    column="dept_id"     />
        <result property="parentId"  column="parent_id"   />
        <result property="deptName"  column="dept_name"   />
        <result property="ancestors" column="ancestors"   />
        <result property="orderNum"  column="order_num"   />
        <result property="leader"    column="leader"      />
        <result property="status"    column="dept_status" />
    </resultMap>

    <resultMap id="RoleResult" type="com.yuepei.common.core.domain.entity.SysRole">
        <id     property="roleId"       column="role_id"        />
        <result property="roleName"     column="role_name"      />
        <result property="roleKey"      column="role_key"       />
        <result property="roleSort"     column="role_sort"      />
        <result property="dataScope"     column="data_scope"    />
        <result property="status"       column="role_status"    />
    </resultMap>

    <sql id="selectInvestorUserVo">
        select id, account, password, phone, nick_name, hospital_id, proportion, create_time, update_time from investor_user
    </sql>

    <select id="selectInvestorUserList" parameterType="com.yuepei.common.core.domain.entity.SysUser" resultMap="SysUserResult">
        select u.user_id, u.dept_id, u.openid, u.nick_name,u.proportion, u.user_name, u.balance,
               u.integral, u.email, u.avatar, u.phone_number, u.sex, u.status, u.del_flag, u.login_ip,
               u.login_date, u.create_by, u.create_time, u.remark, d.dept_name, d.leader,u.parent_id from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        where u.del_flag = '0'
        <if test="userId != null and userId != 0">
            AND u.user_id = #{userId}
        </if>
        <if test="userType != null and userType != ''">
            and u.user_type = #{userType}
        </if>
        <if test="parentId != null">
            and u.parent_id = #{parentId}
        </if>
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="phoneNumber != null and phoneNumber != ''">
            AND u.phone_number like concat('%', #{phoneNumber}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        <if test="deptId != null and deptId != 0">
            AND (u.dept_id = #{deptId} OR u.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
        </if>
        <!-- 数据范围过滤 -->
        ${params.dataScope}
    </select>

    <select id="selectInvestorUserById" parameterType="Long" resultMap="InvestorUserResult">
        <include refid="selectInvestorUserVo"/>
        where id = #{id}
    </select>
    <select id="totalProportion" resultType="com.yuepei.system.domain.vo.TotalProportionVO">
        <!--SELECT (100 - IFNULL(SUM(su.`proportion`), 0) -
                IFNULL(SUM(di.`proportion`), 0) -
                IFNULL(SUM(h.`proportion`), 0)) AS totalProportion FROM device AS d
                LEFT JOIN device_investor AS di ON d.`device_number` = di.`device_number`
                LEFT JOIN sys_user AS su ON su.`user_id` = d.`user_id`
                LEFT JOIN hospital AS h ON h.`hospital_id` = d.`hospital_id`-->
        SELECT IF(adjustedProportion &lt; 0, 0, adjustedProportion)
        AS totalProportion FROM (
        SELECT (IFNULL(investor_proportion, 0) -
        (SELECT IFNULL(SUM(proportion), 0)
        FROM device_investor
        <where>
            and device_number = #{deviceNumber}
            <if test="id != null">
                and Id != #{id}
            </if>
        </where>)
        ) AS adjustedProportion
        FROM device WHERE device_number = #{deviceNumber}
        ) AS result
    </select>

    <insert id="insertInvestorUser" parameterType="com.yuepei.system.domain.InvestorUser" useGeneratedKeys="true" keyProperty="id">
        insert into investor_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
            <if test="phone != null">phone,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="hospitalId != null">hospital_id,</if>
            <if test="proportion != null">proportion,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="phone != null">#{phone},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="proportion != null">#{proportion},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <insert id="addDevice" parameterType="com.yuepei.system.domain.DeviceInvestor" useGeneratedKeys="true" keyProperty="id">
        insert into device_investor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceNumber != null">device_number,</if>
            <if test="investorId != null">investor_id,</if>
            <if test="proportion != null">proportion,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceNumber != null">#{deviceNumber},</if>
            <if test="investorId != null">#{investorId},</if>
            <if test="proportion != null">#{proportion},</if>
        </trim>
    </insert>

    <update id="updateInvestorUser" parameterType="com.yuepei.system.domain.InvestorUser">
        update investor_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="hospitalId != null">hospital_id = #{hospitalId},</if>
            <if test="proportion != null">proportion = #{proportion},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateDevice">
        update device_investor
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceNumber != null">device_number = #{deviceNumber},</if>
            <if test="investorId != null">investor_id = #{investorId},</if>
            <if test="proportion != null">proportion = #{proportion},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteInvestorUserById" parameterType="Long">
        delete from investor_user where id = #{id}
    </delete>

    <delete id="deleteInvestorUserByIds" parameterType="String">
        delete from investor_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteDeviceByIds" parameterType="String">
        delete from device_investor where Id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteDeviceById">
        delete from device_investor where Id = #{id}
    </delete>
</mapper>
