<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuepei.system.mapper.MaintenanceMapper">

    <resultMap id="maintenanceHospitalResult" type="com.yuepei.system.domain.vo.HospitalVO">
        <result property="type" column="type"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="deviceSum" column="device_sum"/>
        <result property="hospitalId" column="hospital_id"/>
    </resultMap>
    <insert id="add">
        insert into hospital_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hospitalId != null">hospital_id,</if>
            <if test="userId != null">user_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>
    <delete id="deleteHospitalByHospitalId">
        delete from hospital_user where hospital_id = #{ids}
    </delete>
    <delete id="deleteHospitalByHospitalIds" parameterType="Long">
        delete from hospital_user where hospital_id in
        <foreach item="hospitalId" collection="array" open="(" separator="," close=")">
            #{hospitalId}
        </foreach>
    </delete>

    <select id="getHospital" parameterType="Long" resultMap="maintenanceHospitalResult">
        SELECT h.`hospital_id`,h.`hospital_name`,h.`type`,devices.device_sum FROM hospital_user AS hu
                                                                                      LEFT JOIN hospital AS h ON h.`hospital_id` = hu.hospital_id
                                                                                      LEFT JOIN (
            SELECT hospital_id,COUNT(device_number) AS device_sum FROM device
            GROUP BY hospital_id
        ) AS devices ON h.`hospital_id` = devices.hospital_id
        WHERE hu.user_name = #{userId}
    </select>
    <select id="getBinding" parameterType="Long" resultMap="maintenanceHospitalResult">
        SELECT hospital_id,hospital_name FROM hospital WHERE parent_id = 0 AND hospital_id NOT IN(
            SELECT hospital_id FROM hospital_user
            WHERE user_name = #{userId})
    </select>
</mapper>
