# 项目相关配置
yuepei:
  # 名称
  name: YuePei
  # 版本
  version: 3.8.4
  # 版权年份
  copyrightYear: 2022
  # 实例演示开关
  demoEnabled: true
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
#  profile: D:/uploads/images
  profile: /home/yuepei/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数组计算 char 字符验证
  captchaType: math

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 8005
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.ruoyi: info
    org.springframework: info

# 用户配置
user:
  password:
    # 密码最大错误次数
    maxRetryCount: 5
    # 密码锁定时间（默认10分钟）
    lockTime: 10
  ##优惠券过期前缀
  discount: discount_

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles:
    active: druid
  # 文件上传
  servlet:
     multipart:
       # 单个文件大小
       max-file-size:  10MB
       # 设置总上传的文件大小
       max-request-size:  20MB
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # redis 配置
  redis:
    # 地址
    host: 118.195.185.211
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 6
    # 密码
    password: qwer1234.
    # 连接超时时间
    timeout: 10s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
  mvc:
    async:
      request-timeout: 30000

# token配置
token:
    # 令牌自定义标识
    header: Authorization
    # 令牌密钥
    secret: abcdefghijklmnopqrstuvwxyz
    # 系统 令牌有效期（默认30分钟）
    expireTime: 30


# MyBatis配置
mybatis:
    # 搜索指定包别名
    typeAliasesPackage: com.yuepei.**.domain
    # 配置mapper的扫描，找到所有的mapper.xml映射文件
    mapperLocations: classpath*:mapper/**/*Mapper.xml
    # 加载全局的配置文件
    configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice,/system/problem,/system/instructions,
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*,/device/*,/wechat/*,/hospital/*

##阿里短信平台
ali-sms:
  accessKeyId: LTAI5t7xPcDv5wfj4CCHKpfw
  accessKeySecret: rjm9BmZs8sSvdkfZO20rARz64bo3O5
  signName: 全时科技  #验证码签名
  templateCode: SMS_225795243   #验证码模板
  timeout: 5

##小程序相关
wechat:
  appId: wx3ab5e2d1456e4e5c
  secrect: 7b0fa175e5dbb63bd33d13024d62376c
  mchId: 1636476318
  mchKey: JSYPjiangsuyuepeipeihuchuang1234
  mchSerialNo: 60429C8DE59522973013086A09AEA5759275B9F7
#  privateKeyPath: D:\WXCertUtil\cert\apiclient_key.pem
  privateKeyPath: /home/Yuepei_Nursingbed/privateKeyPath/WXCertUtil/cert/apiclient_key.pem

##一拖五蓝牙相关
bluetooth:
  appId: ad1ddd68e3f941b78389ba11584917f9
  secrect: 1c227a6b2d964c11985197521995c510

##电信云平台应用管理
telecom:
  secret: 9tgo2urw0u
  application: mExxmN0D098
  domain: 2000297260.api.ctwing.cn


##卡券
coupon:
  prefix: userCoupon_
  order: order_
  coin: JYB_
  valid: orderValid_
