<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuepei.system.mapper.DeviceInvestorMapper">
    <resultMap id="deviceInvestorQuery" type="com.yuepei.system.domain.DeviceInvestor">
        <result property="investorId" column="investor_id"/>
        <result property="deviceNumber" column="device_number"/>
        <result property="proportion" column="proportion"/>
        <result property="createTime" column="create_time"/>
        <result property="id" column="Id"/>
    </resultMap>

    <resultMap id="deviceInvestorVOResult" type="deviceInvestorVO">
        <result property="deviceNumber" column="device_number"/>
        <result property="deviceId" column="device_id"/>
    </resultMap>

    <resultMap id="orderProportionDetailResult" type="com.yuepei.system.domain.OrderProportionDetail">
        <result property="id" column="Id"/>
        <result property="proportion" column="proportion"/>
        <result property="userId" column="user_id"/>
        <result property="orderNumber" column="order_number"/>
    </resultMap>

    <sql id="deviceInvestorVO">
        SELECT Id,device_number,investor_id,proportion,create_time FROM device_investor
    </sql>

    <insert id="insert">
        insert into device_investor(`investor_id`,`device_number`) values
        <foreach item="discountRecord" collection="toArray" index="index"  separator=",">
            (#{discountRecord},#{deviceNumber})
        </foreach>
    </insert>
    <update id="updateProportion">
        UPDATE device_investor SET proportion = 0 WHERE device_number = #{deviceNumber}
    </update>

    <delete id="delByInvestorId" parameterType="String">
        delete from device_investor where device_number = #{deviceNumber}
    </delete>
    <delete id="deleteByInvestorIds">
        delete from device_investor where device_number in
        <foreach item="deviceNumber" collection="list" open="(" separator="," close=")">
            #{deviceNumber}
        </foreach>
    </delete>
    <delete id="deleteByInvestorId">
        delete from device_investor where device_number = #{deviceNumber}
    </delete>
    <select id="deviceProportionList" parameterType="DeviceInvestor" resultMap="deviceInvestorQuery">
        <include refid="deviceInvestorVO"/>
        <where>
            <if test="investorId != null">
                and investor_id = #{investorId}
            </if>
        </where>
    </select>
    <select id="deviceByInvestorId" parameterType="long" resultMap="deviceInvestorVOResult">
        SELECT device_number,device_id FROM device WHERE NOT EXISTS(
                SELECT device_number FROM device_investor
                WHERE device.`device_number` = device_investor.device_number
                  AND device_investor.investor_id = #{investorId})
    </select>
    <select id="getDeviceById" parameterType="long" resultMap="deviceInvestorQuery">
        <include refid="deviceInvestorVO"></include>
        where id = #{id}
    </select>
    <select id="selectInvestorListByDeviceNumber" parameterType="String" resultMap="orderProportionDetailResult">
        SELECT investor_id AS user_id,proportion FROM device_investor
        WHERE device_number = #{deviceNumber}
    </select>
</mapper>
