<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.DeviceMapper">

    <resultMap type="Device" id="DeviceResult">
        <result property="deviceId"    column="device_id"    />
        <result property="deviceTypeId"    column="device_type_id"    />
        <result property="deviceNumber"    column="device_number"    />
        <result property="deviceDeposit"    column="device_deposit"    />
        <result property="billingId"    column="billing_id"    />
        <result property="hospitalId"    column="hospital_id"    />
        <result property="deviceQrCode"    column="device_qR_code"    />
        <result property="deviceAddress"    column="device_address"    />
        <result property="deviceFullAddress"    column="device_full_address"    />
        <result property="heartTime"    column="heart_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
        <result property="deviceIotNumber"    column="device_iot_number"    />
        <result property="deviceMac"    column="device_mac"    />
        <result property="investorId" column="investor_id"/>
        <result property="electric" column="electric"/>
        <result property="electricEarly" column="electric_early"/>
        <result property="userId" column="user_id"/>
        <result property="investorProportion" column="investor_proportion"/>
        <result property="agentProportion" column="agentProportion"/>
        <result property="telecomId" column="telecom_id"/>
        <result property="masterKey" column="masterKey"/>
        <result property="productId" column="productId"/>
        <result property="type" column="type"/>
    </resultMap>

    <resultMap id="DeviceRuleResult" type="com.yuepei.system.domain.vo.DeviceVO">
        <result property="deviceId" column="device_id"/>
        <result property="deviceTypeId" column="device_type_id"/>
        <result property="deviceNumber" column="device_number"/>
        <result property="deviceIotNumber" column="device_iot_number"/>
        <result property="deviceMac" column="device_mac"/>
        <result property="deviceDeposit" column="deviceDeposit"/>
        <result property="billingId" column="billing_id"/>
        <result property="hospitalId" column="hospital_id"/>
        <result property="deviceQRCode" column="device_qR_code"/>
        <result property="deviceAddress" column="device_address"/>
        <result property="deviceFullAddress" column="device_full_address"/>
        <result property="rows" column="rows"/>
        <result property="heartTime" column="heart_time"/>
        <result property="status" column="status"/>
        <result property="rule" column="rule"/>
        <result property="depict" column="depict"/>
        <result property="exists" column="exists"/>
    </resultMap>

    <resultMap id="DeviceByPersonnelResult" type="com.yuepei.system.domain.vo.DeviceByPersonnelVO">
        <result property="deviceId" column="device_id"/>
        <result property="deviceTypeId" column="device_type_id"/>
        <result property="deviceNumber" column="device_number"/>
        <result property="deviceMac" column="device_mac"/>
        <result property="hospitalId" column="hospital_id"/>
        <result property="deviceQrCode" column="device_qR_code"/>
        <result property="deviceAddress" column="device_address"/>
        <result property="deviceFullAddress" column="device_full_address"/>
        <result property="rows" column="rows"/>
        <result property="status" column="status"/>
        <result property="investorId" column="investor_id"/>
        <result property="electric" column="electric"/>
        <result property="electricEarly" column="electric_early"/>
        <result property="agentName" column="agentName"/>
        <result property="hospitalName" column="hospitalName"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <resultMap id="DeviceInvestorResult" type="com.yuepei.system.domain.vo.DeviceInvestorVO">
        <result property="deviceId" column="device_id"/>
        <result property="deviceNumber" column="device_number"/>
        <result property="userInvestorId" column="userInvestorId"/>
        <result property="investorId" column="investor_id"/>
    </resultMap>

    <resultMap id="deviceProportionResult" type="com.yuepei.system.domain.vo.TotalProportionVO">
        <result property="diProportion" column="diProportion"/>
        <result property="hProportion" column="hProportion"/>
        <result property="suProportion" column="suProportion"/>
        <result property="totalProportion" column="totalProportion"/>
    </resultMap>

    <resultMap id="agentPersonnelResult" type="agentPersonnelVO">
        <result property="userId" column="user_id"/>
        <result property="proportion" column="proportion"/>
        <result property="nickName" column="nick_name"/>
        <result property="userName" column="user_name"/>
        <result property="phoneNumber" column="phone_number"/>
    </resultMap>

    <resultMap id="hospitalPersonnelResult" type="hospitalPersonnelVO">
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="proportion" column="proportion"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="hospitalId" column="hospital_id"/>
        <result property="investorProportion" column="investorProportion"/>
    </resultMap>

    <resultMap id="investorPersonnelResult" type="investorPersonnelVO">
        <result property="proportion" column="proportion"/>
        <result property="nickName" column="nick_name"/>
        <result property="userName" column="user_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <sql id="selectDeviceVo">
        select device_id, device_type_id, device_number,device_iot_number,device_mac,
               device_deposit, billing_id,hospital_id, device_qR_code, device_address,content,
    device_full_address,`rows`,heart_time, create_time, status,investor_id,electric,electric_early,
               user_id,telecom_id,masterKey,productId from device
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceByPersonnelResult">
        <!--SELECT d.device_id, d.device_type_id, d.device_number,d.device_iot_number,d.device_mac,d.user_id,
        d.device_deposit, d.billing_id,d.hospital_id, d.device_qR_code, d.device_address,d.content,
        d.device_full_address,d.`rows`,d.heart_time, d.create_time, d.status,d.investor_id,
        d.electric,d.electric_early,IFNULL(su.`nick_name`,'无') AS agentName,
        IFNULL(s.`nick_name`,'无') AS hospitalName FROM device AS d
        LEFT JOIN agent_hospital AS ah ON ah.`hospital_id` = d.`hospital_id`
        LEFT JOIN sys_user AS su ON su.`user_id` = ah.`agent_id`
        LEFT JOIN hospital_user AS hu ON hu.`hospital_id` = d.`hospital_id`
        LEFT JOIN sys_user AS s ON s.`user_name` = hu.`user_name`-->
        SELECT d.device_id, d.device_type_id, d.device_number,d.device_iot_number,d.device_mac,d.user_id,
        d.device_deposit, d.billing_id,d.hospital_id, d.device_qR_code, d.device_address,d.content,
        d.device_full_address,d.`rows`,d.heart_time, d.create_time, d.status,d.investor_id,
        d.electric,d.electric_early,IFNULL(su.`nick_name`,'无') AS agentName,
        IFNULL(s.`nick_name`,'无') AS hospitalName FROM device AS d
        LEFT JOIN sys_user AS su ON su.`user_id` = d.`user_id`
        LEFT JOIN hospital_user AS hu ON hu.`hospital_id` = d.`hospital_id`
        LEFT JOIN sys_user AS s ON s.`user_name` = hu.`user_name`
        LEFT JOIN device_investor AS di ON di.device_number = d.device_number
        <where>
            <if test="deviceTypeId !=null"> and d.device_type_id = #{deviceTypeId}</if>
            <if test="deviceNumber != null "> and d.device_number = #{deviceNumber}</if>
            <if test="hospitalId != null "> and d.hospital_id = #{hospitalId}</if>
            <if test="status != null "> and d.status = #{status}</if>
            <if test="userId != null"> and d.user_id = #{userId}</if>
            <if test="investorId != null"> and di.investor_id in (#{investorId})</if>
        </where>
        GROUP BY d.device_id
    </select>

    <select id="selectDeviceByDeviceId" parameterType="Long" resultMap="DeviceResult">
        SELECT d.device_id, d.device_type_id, d.device_number,
               d.device_iot_number,d.device_mac,
               d.device_deposit, d.billing_id,d.hospital_id,
               d.device_qR_code, d.device_address,content,
               d.device_full_address,d.`rows`,d.heart_time,
               d.create_time, d.status,d.investor_id,d.electric,
               d.electric_early,d.user_id,d.investor_proportion,d.telecom_id,
               su.`proportion` AS agentProportion FROM device AS d
        LEFT JOIN sys_user AS su ON su.`user_id` = d.`user_id`
        where d.device_id = #{deviceId}
    </select>

    <select id="selectDeviceByDeviceNumber" parameterType="String" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where device_number = #{deviceNumber}
    </select>

    <select id="selectDeviceInfoByDeviceNumber" parameterType="String" resultMap="DeviceRuleResult">
    SELECT d.device_id, d.device_type_id, d.device_number,d.user_id,
       d.device_iot_number,d.device_mac,dt.`device_type_deposit` as deviceDeposit, d.billing_id,
       d.hospital_id, d.device_qR_code, d.device_address,
       d.device_full_address,d.`rows`,d.heart_time,
       d.`status`,dr.`rule`,dr.`depict`,(
       SELECT COUNT(1) FROM user_lease_order AS ulo INNER JOIN
       device AS d ON d.`device_number` = ulo.device_number
       WHERE d.`device_number` = #{deviceNumber}) AS `exists` FROM device AS d
       LEFT JOIN device_rule AS dr ON dr.`device_number` = d.`device_number`
       INNER JOIN device_type AS dt ON dt.`device_type_id` = d.`device_type_id`
    WHERE d.device_number = #{deviceNumber}
    </select>

    <select id="checkDeviceByType" resultType="java.lang.Integer">
        select count(1) from device where device_type_id in
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </select>

    <select id="checkDeviceByHospitalId" resultType="java.lang.Integer">
        select count(1) from device where hospital_id in
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </select>
    <select id="checkDeviceNumber" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM device
        <where>
            (device_number = #{deviceNumber} OR device_mac = #{deviceMac})
            <if test="deviceId != null">
                and device_id != #{deviceId}
            </if>
        </where>
    </select>

    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true" keyProperty="deviceId">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceTypeId != null">device_type_id,</if>
            <if test="deviceIotNumber != null">device_iot_number,</if>
            <if test="deviceMac != null">device_mac,</if>
            <if test="deviceNumber != null">device_number,</if>
            <if test="deviceDeposit != null">device_deposit,</if>
            <if test="billingId != null">billing_id,</if>
            <if test="hospitalId != null">hospital_id,</if>
            <if test="deviceQrCode != null">device_qR_code,</if>
            <if test="deviceAddress != null">device_address,</if>
            <if test="deviceFullAddress != null">device_full_address,</if>
            <if test="rows != null"> `rows`,</if>
            <if test="heartTime != null">heart_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="investorId != null">investor_id,</if>
            <if test="electric != null">electric,</if>
            <if test="electricEarly != null">electric_early,</if>
            <if test="content != null">content,</if>
            <if test="userId != null">user_id,</if>
            <if test="investorProportion != null">investor_proportion,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceTypeId != null">#{deviceTypeId},</if>
            <if test="deviceIotNumber != null">#{deviceIotNumber},</if>
            <if test="deviceMac != null">#{deviceMac},</if>
            <if test="deviceNumber != null">#{deviceNumber},</if>
            <if test="deviceDeposit != null">#{deviceDeposit},</if>
            <if test="billingId != null">#{billingId},</if>
            <if test="hospitalId != null">#{hospitalId},</if>
            <if test="deviceQrCode != null">#{deviceQrCode},</if>
            <if test="deviceAddress != null">#{deviceAddress},</if>
            <if test="deviceFullAddress != null">#{deviceFullAddress},</if>
            <if test="rows != null">#{rows},</if>
            <if test="heartTime != null">#{heartTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="investorId != null">#{investorId},</if>
            <if test="electric != null">#{electric},</if>
            <if test="electricEarly != null">#{electricEarly},</if>
            <if test="content != null">#{content},</if>
            <if test="userId != null">#{userId},</if>
            <if test="investorProportion != null">#{investorProportion},</if>
        </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceTypeId != null">device_type_id = #{deviceTypeId},</if>
            <if test="deviceMac != null">device_mac = #{deviceMac},</if>
            <if test="deviceIotNumber != null">device_iot_number = #{deviceIotNumber},</if>
            <if test="deviceNumber != null">device_number = #{deviceNumber},</if>
            <if test="deviceDeposit != null">device_deposit = #{deviceDeposit},</if>
            <if test="billingId != null">billing_id = #{billingId},</if>
            <if test="hospitalId != null">hospital_id = #{hospitalId},</if>
            <if test="deviceQrCode != null">device_qR_code = #{deviceQrCode},</if>
            <if test="deviceAddress != null">device_address = #{deviceAddress},</if>
            <if test="deviceFullAddress != null">device_full_address = #{deviceFullAddress},</if>
            <if test=" rows!= null">`rows` = #{rows},</if>
            <if test="heartTime != null">heart_time = #{heartTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="investorId != null and investorId != ''">investor_id = #{investorId},</if>
            <if test="electric != null">electric = #{electric},</if>
            <if test="electricEarly != null">electric_early = #{electricEarly},</if>
            <if test="content != null">content = #{content},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="investorProportion != null">investor_proportion = #{investorProportion},</if>
        </trim>
        where device_id = #{deviceId}
    </update>
    <update id="updateDeviceByDeviceNumber">
        update device
        <trim prefix="SET" suffixOverrides=",">
            <if test=" rows!= null ">`rows` = #{rows},</if>
            <if test="status != null">`status` = #{status},</if>
        </trim>
        where device_number = #{deviceNumber}
    </update>
    <update id="updateDeviceList" parameterType="Device">
        update device set device_address=#{hospitalAddress},user_id=#{userId},hospital_id=#{hospitalId}
        where device_number in
        <foreach collection="deviceNumber" item="deviceNumber" open="(" separator="," close=")">
            #{deviceNumber}
        </foreach>
    </update>
    <update id="updateInvestorDevice" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE device
            SET investor_id=#{item.investorId}
            WHERE device_number=#{item.deviceNumber}
        </foreach>
    </update>
    <update id="updateDeviceStatus">
        update device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceTypeId != null">device_type_id = #{deviceTypeId},</if>
            <if test="deviceMac != null">device_mac = #{deviceMac},</if>
            <if test="deviceIotNumber != null">device_iot_number = #{deviceIotNumber},</if>
            <if test="deviceNumber != null">device_number = #{deviceNumber},</if>
            <if test="deviceDeposit != null">device_deposit = #{deviceDeposit},</if>
            <if test="billingId != null">billing_id = #{billingId},</if>
            <if test="hospitalId != null">hospital_id = #{hospitalId},</if>
            <if test="deviceQrCode != null">device_qR_code = #{deviceQrCode},</if>
            <if test="deviceAddress != null">device_address = #{deviceAddress},</if>
            <if test="deviceFullAddress != null">device_full_address = #{deviceFullAddress},</if>
            <if test=" rows!= null">`rows` = #{rows},</if>
            <if test="heartTime != null">heart_time = #{heartTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="investorId != null and investorId != ''">investor_id = #{investorId},</if>
            <if test="electric != null">electric = #{electric},</if>
            <if test="electricEarly != null">electric_early = #{electricEarly},</if>
            <if test="content != null">content = #{content},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="investorProportion != null">investor_proportion = #{investorProportion},</if>
            <if test="telecomId != null">telecom_id = #{telecomId},</if>
            <if test="masterKey != null">masterKey = #{masterKey},</if>
            <if test="productId != null">productId = #{productId},</if>
            <if test="time != null">`time` = #{time},</if>
        </trim>
        where device_number = #{deviceNumber}
    </update>

    <delete id="deleteDeviceByDeviceId" parameterType="Long">
        delete from device where device_id = #{deviceId}
    </delete>

    <delete id="deleteDeviceByDeviceIds" parameterType="String">
        delete from device where device_id in
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
    <select id="selectDeviceByHospitalId" parameterType="device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where hospital_id = #{hospitalId}
    </select>
    <select id="selectDeviceByDeviceNumberList" parameterType="device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where device_number in
        <foreach item="deviceNumber" collection="list" open="(" separator="," close=")">
            #{deviceNumber}
        </foreach>
    </select>
    <select id="selectDeviceByDeviceIds" resultType="java.lang.String">
        select device_number from device where device_id in
        <foreach item="deviceNumber" collection="array" open="(" separator="," close=")">
            #{deviceNumber}
        </foreach>
    </select>
    <select id="selectDeviceByUserId" parameterType="device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where user_id=#{userId}
    </select>
    <select id="selectInvestorDeviceByIds" resultMap="DeviceInvestorResult">
        SELECT d.device_id,d.`device_number`,d.`investor_id`,
        di.`investor_id` AS userInvestorId FROM device AS d
        INNER JOIN device_investor AS di
        ON di.device_number = d.device_number
        WHERE di.Id IN
        <foreach item="deviceNumber" collection="array" open="(" separator="," close=")">
            #{deviceNumber}
        </foreach>
    </select>
    <select id="selectInvestorDeviceById"  resultMap="DeviceInvestorResult">
        SELECT d.device_id,d.`device_number`,d.`investor_id`,
        di.`investor_id` AS userInvestorId FROM device AS d
        INNER JOIN device_investor AS di
        ON di.device_number = d.device_number
        WHERE di.Id = #{id}
    </select>
    <select id="selectDeviceProportionDetail" parameterType="String" resultMap="deviceProportionResult">
        SELECT IFNULL(su.`proportion`,0) AS suProportion,
               IFNULL(h.`proportion`,0) AS hProportion,IFNULL(SUM(di.`proportion`),0) AS diProportion
        FROM device AS d
                 LEFT JOIN sys_user AS su ON d.`user_id` = su.`user_id`
                 LEFT JOIN hospital AS h ON h.`hospital_id` = d.`hospital_id`
                 LEFT JOIN device_investor AS di ON di.`device_number` = d.`device_number`
        WHERE d.device_number = #{deviceNumber}
    </select>
    <select id="totalProportion" resultType="com.yuepei.system.domain.vo.TotalProportionVO">
        SELECT (100-IFNULL(dh.`proportion`,0)-IFNULL(d.`investor_proportion`,0) -
        IFNULL(su.proportion,0)) AS totalProportion
        FROM device AS d
        LEFT JOIN sys_user AS su ON su.`user_id` = d.`user_id`
        LEFT JOIN hospital AS h ON h.`hospital_id` = d.`hospital_id`
        LEFT JOIN device_hospital AS dh ON dh.`device_number` = d.`device_number`
        WHERE d.device_number = #{deviceNumber}
        <if test="type != null">
            and h.type = #{type}
        </if>
    </select>
    <select id="agentPersonnel" parameterType="String" resultMap="agentPersonnelResult">
        SELECT su.`user_id`,su.`user_name`,su.`nick_name`,
               su.`proportion`,su.`phone_number` FROM device AS d
                                                          LEFT JOIN sys_user AS su ON su.`user_id` = d.`user_id`
        WHERE d.`device_number` = #{deviceNumber} AND su.`parent_id` = 0
    </select>
    <select id="hospitalPersonnel" parameterType="String" resultMap="hospitalPersonnelResult">
        SELECT h.hospital_id,h.hospital_name,h.proportion,su.`user_name`,su.`nick_name`,IFNULL(d.`investor_proportion`,0) AS investorProportion FROM device AS d
        LEFT JOIN hospital AS h ON d.`hospital_id` = h.hospital_id
        LEFT JOIN hospital_user AS hu ON hu.hospital_id = h.hospital_id
        LEFT JOIN sys_user AS su ON su.`user_name` = hu.user_name
        WHERE d.`device_number` = #{deviceNumber}
    </select>
    <select id="investorPersonnel" parameterType="String" resultMap="investorPersonnelResult">
        SELECT su.user_id,su.`user_name`,su.`nick_name`,su.`proportion`,
        su.`phone_number` FROM device AS d
        INNER JOIN device_investor AS di ON di.device_number = d.`device_number`
        INNER JOIN sys_user AS su ON su.`user_id` = di.investor_id
        WHERE d.`device_number` = #{deviceNumber} AND su.`parent_id` = 0
    </select>
    <select id="getDeviceProportion" resultType="com.yuepei.system.domain.vo.TotalProportionVO">
        SELECT (100 - IFNULL(d.`investor_proportion`,0) - IFNULL(su.`proportion`,0)) AS totalProportion FROM device AS d
        LEFT JOIN sys_user AS su ON su.`user_id` = d.`user_id`
        WHERE d.`device_number` = #{deviceNumber}
    </select>
    <select id="getAgentProportion" parameterType="Long" resultMap="deviceProportionResult">
        SELECT (100 - IFNULL(d.`investor_proportion`,0)-IFNULL(h.`proportion`,0)) AS totalProportion FROM sys_user AS su
        left JOIN device AS d ON d.`user_id` = su.`user_id`
        left JOIN hospital AS h ON h.`hospital_id` = d.`hospital_id`
        WHERE su.`user_id` = #{userId}
    </select>
    <select id="checkDevice" resultMap="DeviceResult">
        SELECT d.device_number FROM hospital_user AS hu
        INNER JOIN device AS d ON d.`hospital_id` = hu.`hospital_id`
        WHERE hu.user_name = #{userId} AND d.`device_number` = #{deviceNumber}
    </select>
    <select id="selectDeviceByDeviceNumbers" resultMap="DeviceResult" parameterType="String">
        SELECT d.device_id, d.device_type_id, d.device_number,
               d.device_iot_number,d.device_mac,
               d.device_deposit, d.billing_id,d.hospital_id,
               d.device_qR_code, d.device_address,content,
               d.device_full_address,d.`rows`,d.heart_time,
               d.create_time, d.status,d.investor_id,d.electric,
               d.electric_early,d.user_id,d.investor_proportion,d.telecom_id,
               su.`proportion` AS agentProportion FROM device AS d
                                                           LEFT JOIN sys_user AS su ON su.`user_id` = d.`user_id`
        WHERE d.device_number = #{deviceNumber}
    </select>
    <select id="selectInvestorProportionByDeviceNumber" resultMap="DeviceResult">
        SELECT d.`device_number`,d.`hospital_id`,h.`type`,
               d.`user_id`,d.`investor_proportion` FROM device AS d
                                                            LEFT JOIN hospital AS h ON h.`hospital_id` = d.`hospital_id`
        WHERE d.device_number = #{deviceNumber}
    </select>
    <select id="totalProportion2" resultType="com.yuepei.system.domain.vo.TotalProportionVO">
        SELECT (100 - IFNULL(SUM(proportion),0)) AS totalProportion
        FROM sys_user
        WHERE parent_id = (SELECT user_id FROM device
        WHERE device_number = #{deviceNumber})
    </select>

</mapper>
