<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.AgentMapper">

    <resultMap id="AgentHospitalResult" type="AgentHospital">
        <result property="agentId" column="agent_id"></result>
        <result property="hospitalId" column="hospital_id"></result>
    </resultMap>

    <resultMap id="AgentResult" type="Agent">
        <result property="agentId" column="agent_id"></result>
        <result property="agentName" column="agent_name"></result>
        <result property="userName" column="user_name"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <sql id="selectAgent">
        select distinct a.agent_id from agent a
        left join agent_hospital ah on ah.agent_id = a.agent_id
        left join hospital_user hu on hu.hospital_id = ah.hospital_id
        left join sys_user su on su.user_name = hu.user_name
    </sql>

    <sql id="selectAgentId">
        select agent_id,agent_name,user_name,create_time,update_time from agent
    </sql>

    <select id="selectAgentByAgentId" parameterType="Agent" resultMap="AgentResult">
        <include refid="selectAgent"/>
        where su.user_id=#{userId}
    </select>

    <select id="selectAgentHospitalByHospital" parameterType="AgentHospital" resultMap="AgentHospitalResult">
        select agent_id,hospital_id from agent_hospital where agent_id=#{agentId}
    </select>

    <select id="selectAgentHospital" parameterType="AgentHospital" resultMap="AgentHospitalResult">
        select agent_id,hospital_id from agent_hospital where hospital_id=#{hospitalId}
    </select>

    <select id="selectAgentByUserName" parameterType="Agent" resultMap="AgentResult">
        <include refid="selectAgentId"/>
        where user_name = #{userName}
    </select>

    <insert id="insertAgentHospital" parameterType="agentHospital">
        insert into agent_hospital (agent_id,hospital_id) values (#{agentId},#{hospitalId})
    </insert>

    <insert id="insertHospitalUser" parameterType="HospitalUser">
        insert into hospital_user(hospital_id,user_name)values (#{hospitalId},#{accountNumber})
    </insert>
</mapper>