<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.OrderMapper">

    <resultMap type="com.yuepei.system.domain.Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="orderNumber" column="order_number"/>
        <result property="userId"    column="user_id"    />
        <result property="deviceNumber"    column="device_number"    />
        <result property="payType"    column="pay_type"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="couponAmount"    column="coupon_amount"    />
        <result property="netAmount"    column="net_amount"    />
        <result property="payRows"    column="pay_rows"    />
        <result property="status"    column="status"    />
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap id="depositListResult" type="com.yuepei.system.domain.vo.OrderDepositListVO">
        <result property="id" column="id"/>
        <result property="deviceNumber"  column="device_number"/>
        <result property="createTime" column="create_time"/>
        <result property="orderNumber" column="order_number"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="nickName" column="nick_name"/>
        <result property="depositStatus" column="status"/>
        <result property="depositNum" column="sum"/>
    </resultMap>

    <sql id="selectOrderVo">
        select id,order_number, user_id, device_number, pay_type, pay_time, pay_amount, coupon_amount, net_amount, pay_rows, status,create_time from user_order
    </sql>

    <select id="selectOrderList" parameterType="com.yuepei.system.domain.Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="deviceNumber != null  and deviceNumber != ''"> and device_number = #{deviceNumber}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="payTime != null "> and pay_time = #{payTime}</if>
            <if test="payAmount != null  and payAmount != ''"> and pay_amount = #{payAmount}</if>
            <if test="couponAmount != null  and couponAmount != ''"> and coupon_amount = #{couponAmount}</if>
            <if test="netAmount != null  and netAmount != ''"> and net_amount = #{netAmount}</if>
            <if test="payRows != null  and payRows != ''"> and pay_rows = #{payRows}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectOrderByOrderId" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where order_id = #{orderId}
    </select>
    <select id="depositList" resultMap="depositListResult">
        SELECT udo.`id`,udo.`order_number`,su.`nick_name`,
        su.`phone_number`,udo.sum,udo.status,
        udo.`create_time` FROM user_deposit_detail AS udo
        INNER JOIN sys_user AS su ON su.`openid` = udo.`openid`
        <where>
            <if test="depositStatus != null">
                and udo.status = #{depositStatus}
            </if>
            <if test="nickName != null">
                and su.`nick_name` like concat('%', #{nickName}, '%')
            </if>
            <if test="phoneNumber != null">
                and su.`phone_number` = #{phoneNumber}
            </if>
        </where>
        order by udo.`create_time` desc
    </select>
    <select id="depositSum" resultType="java.lang.String">
        SELECT SUM(udo.`sum`) AS orderSum FROM user_deposit_detail AS udo
        INNER JOIN sys_user AS su ON su.`openid` = udo.`openid`
        <where>
            <if test="depositStatus != null">
                and udo.status = #{depositStatus}
            </if>
            <if test="nickName != null">
                and su.`nick_name` like concat('%', #{nickName}, '%')
            </if>
            <if test="phoneNumber != null">
                and su.`phone_number` = #{phoneNumber}
            </if>
        </where>
    </select>

    <update id="updateOrder" parameterType="com.yuepei.system.domain.Order">
        update user_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status}</if>
        </trim>
        where order_id = #{orderId}
    </update>
</mapper>
