<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.UserDepositOrderMapper">

    <resultMap type="com.yuepei.system.domain.UserDepositOrder" id="UserDepositOrderResult">
        <result property="id"    column="id"    />
        <result property="openid"    column="openid"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="deviceNumber"    column="device_number"    />
        <result property="depositNum"    column="deposit_num"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="depositStatus"    column="deposit_status"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserDepositOrderVo">
        select id, openid, order_number, device_number, deposit_num, device_status, deposit_status, status, create_time, update_time from user_deposit_order
    </sql>

    <select id="selectUserDepositOrderList" parameterType="com.yuepei.system.domain.UserDepositOrder" resultMap="UserDepositOrderResult">
        <include refid="selectUserDepositOrderVo"/>
        <where>
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="deviceNumber != null  and deviceNumber != ''"> and device_number = #{deviceNumber}</if>
            <if test="depositNum != null "> and deposit_num = #{depositNum}</if>
            <if test="deviceStatus != null  and deviceStatus != ''"> and device_status = #{deviceStatus}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectUserDepositOrderById" parameterType="Long" resultMap="UserDepositOrderResult">
        <include refid="selectUserDepositOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserDepositOrder" parameterType="com.yuepei.system.domain.UserDepositOrder">
        insert into user_deposit_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="openid != null and openid != ''">openid,</if>
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="deviceNumber != null">device_number,</if>
            <if test="depositNum != null">deposit_num,</if>
            <if test="deviceStatus != null">device_status,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="depositStatus != null">deposit_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="openid != null and openid != ''">#{openid},</if>
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="deviceNumber != null">#{deviceNumber},</if>
            <if test="depositNum != null">#{depositNum},</if>
            <if test="deviceStatus != null">#{deviceStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="depositStatus != null">#{depositStatus},</if>
        </trim>
    </insert>

    <update id="updateUserDepositOrder" parameterType="com.yuepei.system.domain.UserDepositOrder">
        update user_deposit_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null and openid != ''">openid = #{openid},</if>
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="deviceNumber != null">device_number = #{deviceNumber},</if>
            <if test="depositNum != null">deposit_num = #{depositNum},</if>
            <if test="deviceStatus != null">device_status = #{deviceStatus},</if>
            <if test="depositStatus!= null"> deposit_status = #{depositStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_number = #{orderNumber}
    </update>

    <delete id="deleteUserDepositOrderById" parameterType="Long">
        delete from user_deposit_order where id = #{id}
    </delete>

    <delete id="deleteUserDepositOrderByIds" parameterType="String">
        delete from user_deposit_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectUserDepositInfo" parameterType="Long" resultMap="UserDepositOrderResult">
        <include refid="selectUserDepositOrderVo"/>
        <where>
            <if test="depositStatus == null and status != null">
                and openid = #{openid} and deposit_status = #{status}
            </if>
            <if test="depositStatus != null and status != null">
                and openid = #{openid} and status = #{status} and deposit_status = #{depositStatus}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectUserDepositOrderByOrderNumber" parameterType="String" resultMap="UserDepositOrderResult">
        <include refid="selectUserDepositOrderVo"/>
        where order_number = #{orderNumber}
    </select>
    <select id="checkLeaseOrder" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user_deposit_order AS udo
                 INNER JOIN user_lease_order AS ulo ON ulo.`device_number` = udo.`device_number`
        WHERE udo.order_number = #{orderNumber} AND ulo.`status` = 2
    </select>
    <select id="checkLeaseOrderByOpenId" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM user_deposit_order WHERE deposit_status = 0 AND STATUS = 1 AND device_number = #{deviceNumber}
    </select>
</mapper>
