<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.UserLeaseOrderMapper">

    <resultMap type="UserLeaseOrder" id="UserLeaseOrderResult">
        <result property="id"    column="id"    />
        <result property="openid"    column="openid"    />
        <result property="outTradeNo" column="out_trade_no"/>
        <result property="deviceRule" column="device_rule"/>
        <result property="timePrice" column="time_price"/>
        <result property="fixedPrice" column="fixed_price"/>
        <result property="depositNumber" column="deposit_number"/>
        <result property="orderNumber"    column="order_number"    />
        <result property="deviceNumber"    column="device_number"    />
        <result property="deviceType"    column="device_type"    />
        <result property="leaseTime"    column="lease_time"    />
        <result property="leaseAddress"    column="lease_address"    />
        <result property="restoreTime"    column="restore_time"    />
        <result property="restoreAddress"    column="restore_address"    />
        <result property="price"    column="price"    />
        <result property="payType"    column="pay_type"    />
        <result property="netAmount"    column="net_amount"    />
        <result property="couponPrice"    column="coupon_price"    />
        <result property="status"    column="status"    />
        <result property="deposit"    column="deposit"    />
        <result property="playTime"    column="play_time"    />
        <result property="createTime" column="create_time"/>
        <result property="rule"       column="rule"/>
        <result property="choose" column="choose"/>
        <result property="child" column="child"/>
        <result property="deviceAddress" column="device_address"/>
        <result property="deviceMac" column="device_mac"/>
        <result property="rows" column="rows"/>
        <result property="deviceRule" column="device_rule"/>
        <result property="investorProportion" column="investorProportion"/>
        <result property="agentProportion" column="agentProportion"/>
        <result property="hospitalProportion" column="hospitalProportion"/>
        <result property="platformProportion" column="platformProportion"/>
        <result property="isValid" column="is_valid"/>
    </resultMap>

    <resultMap id="LeaseOrderResult" type="LeaseOrderVO">
        <result property="id" column="id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="createTime" column="create_time"/>
        <result property="deviceNumber" column="device_number"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="couponPrice" column="coupon_price"/>
        <result property="deviceType" column="device_type"/>
        <result property="deviceTypeId" column="device_type_id"/>
        <result property="hospitalName" column="hospital_name"/>
        <result property="leaseAddress" column="lease_address"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="netAmount" column="net_amount"/>
        <result property="leaseTime" column="lease_time"/>
        <result property="nickName" column="nick_name"/>
        <result property="agentName" column="agentName"/>
        <result property="payType" column="pay_type"/>
        <result property="playTime" column="play_time"/>
        <result property="restoreAddress" column="restore_address"/>
        <result property="restoreTime" column="restore_time"/>
        <result property="choose" column="choose"/>
        <result property="child" column="child"/>
        <result property="investorProportion" column="investorProportion"/>
        <result property="agentProportion" column="agentProportion"/>
        <result property="hospitalProportion" column="hospitalProportion"/>
        <result property="platformProportion" column="platformProportion"/>
    </resultMap>

    <resultMap id="UserOrderResult" type="com.yuepei.system.domain.vo.UserOrderVO">
        <result property="openid" column="openid"/>
        <result property="orderNumber" column="order_number"/>
        <result property="deviceNumber" column="device_number"/>
        <result property="depositNumber" column="deposit_number"/>
    </resultMap>

    <sql id="selectUserLeaseOrderVo">
        select id, openid, order_number, device_number, device_type, lease_time,
               lease_address, restore_time, restore_address, price, pay_type,
               net_amount, coupon_price, status, play_time,create_time,child,choose,investorProportion,
               agentProportion,hospitalProportion,platformProportion,device_rule,deposit
        from user_lease_order
    </sql>

    <sql id="selectLeaseOrderVO">
        <!--SELECT lo.id,u.`nick_name`,u.`phone_number`,d.`device_type_id`, lo.order_number,
               lo.device_number, lo.device_type, lo.lease_time,
               lo.lease_address, h.`hospital_name`,lo.choose,lo.child,
               lo.restore_time, lo.restore_address, lo.price, lo.pay_type,
               lo.net_amount, lo.coupon_price, lo.`status`,su.`nick_name` AS agentName,
               lo.play_time,lo.create_time,lo.investorProportion,lo.agentProportion
               ,lo.hospitalProportion,lo.platformProportion FROM user_lease_order AS lo
               INNER JOIN sys_user AS u ON lo.`openid` = u.`openid`
               INNER JOIN device AS d ON d.`device_number` = lo.`device_number`
               INNER JOIN hospital AS h ON d.`hospital_id` = h.`hospital_id`
               INNER JOIN agent_hospital AS ah ON ah.`hospital_id` = h.`hospital_id`
               INNER JOIN sys_user AS su ON su.`user_id` = ah.`agent_id`-->
        SELECT lo.id,u.`nick_name`,u.`phone_number`,d.`device_type_id`, lo.order_number,
        lo.device_number, lo.device_type, lo.lease_time,
        lo.lease_address, h.`hospital_name`,lo.choose,lo.child,
        lo.restore_time, lo.restore_address, lo.price, lo.pay_type,
        lo.net_amount, lo.coupon_price, lo.`status`,IFNULL(su.`nick_name`,'无') AS agentName,
        lo.play_time,lo.create_time,lo.investorProportion,lo.agentProportion
        ,lo.hospitalProportion,lo.platformProportion FROM user_lease_order AS lo
        INNER JOIN sys_user AS u ON lo.`openid` = u.`openid`
        INNER JOIN device AS d ON d.`device_number` = lo.`device_number`
        INNER JOIN sys_user AS su ON su.`user_id` = d.`user_id`
        INNER JOIN hospital AS h ON d.`hospital_id` = h.`hospital_id`
    </sql>

    <select id="leaseOrderList" parameterType="LeaseOrderVO" resultMap="LeaseOrderResult">
        <include refid="selectLeaseOrderVO"/>
        <where>
            and lo.is_valid = 1
            <if test="orderNumber != null  and orderNumber != ''"> and lo.order_number = #{orderNumber}</if>
            <if test="deviceNumber != null  and deviceNumber != ''"> and lo.device_number = #{deviceNumber}</if>
            <if test="deviceType != null  and deviceType != ''"> and lo.device_type = #{deviceType}</if>
            <if test="leaseTime != null "> and lo.lease_time = #{leaseTime}</if>
            <if test="payType != null  and payType != ''"> and lo.pay_type = #{payType}</if>
            <if test="status != null  and status != ''"> and lo.status = #{status}</if>
            <if test="playTime != null  and playTime != ''"> and lo.play_time = #{playTime}</if>
        </where>
        GROUP BY lo.`id` ORDER BY lo.lease_time DESC
    </select>

    <select id="selectUserLeaseOrderList" parameterType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        <where>
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="deviceNumber != null  and deviceNumber != ''"> and device_number = #{deviceNumber}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
            <if test="leaseTime != null "> and lease_time = #{leaseTime}</if>
            <if test="leaseAddress != null  and leaseAddress != ''"> and lease_address = #{leaseAddress}</if>
            <if test="restoreTime != null "> and restore_time = #{restoreTime}</if>
            <if test="restoreAddress != null  and restoreAddress != ''"> and restore_address = #{restoreAddress}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="netAmount != null  and netAmount != ''"> and net_amount = #{netAmount}</if>
            <if test="couponPrice != null "> and coupon_price = #{couponPrice}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="playTime != null  and playTime != ''"> and play_time = #{playTime}</if>
        </where>
    </select>

    <select id="selectUserLeaseOrderById" parameterType="Long" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        where id = #{id}
    </select>

    <select id="userLeaseOrder" resultMap="UserLeaseOrderResult">
        SELECT a.openid,a.`order_number`,a.`device_number`,a.`device_type`,
        a.`lease_time`,a.`lease_address`,a.`restore_time`,a.`restore_address`,a.`price`,
        a.`investorProportion`,a.`hospitalProportion`,a.`agentProportion`,a.`platformProportion`,
        a.`pay_type`,a.`net_amount`,a.`coupon_price`,a.`status`,a.`play_time`,a.`choose`,a.`deposit`,
        a.`child`,a.`create_time`,a.`deposit_number`,b.rule,d.`device_mac`,d.`rows`,d.`device_address`,
        a.is_valid
        FROM user_lease_order a
        LEFT JOIN device_rule b ON a.`device_number` =  b.`device_number`
        INNER JOIN device d ON d.`device_number` = a.`device_number`
        <where>
            a.openid = #{openid} and a.is_valid = 1
            <if test="status != null">and a.status = #{status}</if>
        </where>
    </select>

    <insert id="insertUserLeaseOrder" parameterType="UserLeaseOrder" useGeneratedKeys="true" keyProperty="id">
        insert into user_lease_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">openid,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="deviceNumber != null">device_number,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="leaseTime != null">lease_time,</if>
            <if test="leaseAddress != null">lease_address,</if>
            <if test="restoreTime != null">restore_time,</if>
            <if test="restoreAddress != null">restore_address,</if>
            <if test="price != null">price,</if>
            <if test="payType != null">pay_type,</if>
            <if test="netAmount != null">net_amount,</if>
            <if test="couponPrice != null">coupon_price,</if>
            <if test="status != null">status,</if>
            <if test="playTime != null">play_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="choose != null">choose,</if>
            <if test="child != null">child,</if>
            <if test="deposit != null">deposit,</if>
            <if test="investorProportion != null">investorProportion,</if>
            <if test="agentProportion != null">agentProportion,</if>
            <if test="hospitalProportion != null">hospitalProportion,</if>
            <if test="platformProportion != null">platformProportion,</if>
            <if test="depositNumber != null">deposit_number,</if>
            <if test="rule != null">device_rule,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">#{openid},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="deviceNumber != null">#{deviceNumber},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="leaseTime != null">#{leaseTime},</if>
            <if test="leaseAddress != null">#{leaseAddress},</if>
            <if test="restoreTime != null">#{restoreTime},</if>
            <if test="restoreAddress != null">#{restoreAddress},</if>
            <if test="price != null">#{price},</if>
            <if test="payType != null">#{payType},</if>
            <if test="netAmount != null">#{netAmount},</if>
            <if test="couponPrice != null">#{couponPrice},</if>
            <if test="status != null">#{status},</if>
            <if test="playTime != null">#{playTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="choose != null">#{choose},</if>
            <if test="child != null">#{child},</if>
            <if test="deposit != null">#{deposit},</if>
            <if test="investorProportion != null">#{investorProportion},</if>
            <if test="agentProportion != null">#{agentProportion},</if>
            <if test="hospitalProportion != null">#{hospitalProportion},</if>
            <if test="platformProportion != null">#{platformProportion},</if>
            <if test="depositNumber != null">#{depositNumber},</if>
            <if test="rule != null">#{rule},</if>
        </trim>
    </insert>

    <update id="updateUserLeaseOrder" parameterType="UserLeaseOrder">
        update user_lease_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null">openid = #{openid},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="outTradeNo != null">out_trade_no = #{outTradeNo},</if>
            <if test="deviceRule != null">device_rule = #{deviceRule},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="timePrice != null">time_price = #{timePrice},</if>
            <if test="fixedPrice != null">fixed_price = #{fixedPrice},</if>
            <if test="deposit != null">deposit = #{deposit},</if>
            <if test="deviceNumber != null">device_number = #{deviceNumber},</if>
            <if test="leaseTime != null">lease_time = #{leaseTime},</if>
            <if test="leaseAddress != null">lease_address = #{leaseAddress},</if>
            <if test="restoreTime != null">restore_time = #{restoreTime},</if>
            <if test="restoreAddress != null">restore_address = #{restoreAddress},</if>
            <if test="price != null">price = #{price},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="netAmount != null">net_amount = #{netAmount},</if>
            <if test="couponPrice != null">coupon_price = #{couponPrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="playTime != null">play_time = #{playTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="child != null">child = #{child},</if>
            <if test="choose != null">choose = #{choose},</if>
            <if test="investorProportion != null">investorProportion = #{investorProportion},</if>
            <if test="hospitalProportion != null">hospitalProportion = #{hospitalProportion},</if>
            <if test="agentProportion != null">agentProportion = #{agentProportion},</if>
            <if test="platformProportion != null">platformProportion = #{platformProportion},</if>
            <if test="depositNumber != null">deposit_number = #{depositNumber},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateUserLeaseOrderByOrderNumber">
        update user_lease_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null">openid = #{openid},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="deviceNumber != null">device_number = #{deviceNumber},</if>
            <if test="restoreTime != null">restore_time = #{restoreTime},</if>
            <if test="restoreAddress != null">restore_address = #{restoreAddress},</if>
            <if test="price != null">price = #{price},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="netAmount != null">net_amount = #{netAmount},</if>
            <if test="couponPrice != null">coupon_price = #{couponPrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="playTime != null">play_time = #{playTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="child != null">child = #{child},</if>
            <if test="choose != null">choose = #{choose},</if>
            <if test="outTradeNo != null">out_trade_no = #{outTradeNo},</if>
            <if test="investorProportion != null">investorProportion = #{investorProportion},</if>
            <if test="hospitalProportion != null">hospitalProportion = #{hospitalProportion},</if>
            <if test="agentProportion != null">agentProportion = #{agentProportion},</if>
            <if test="platformProportion != null">platformProportion = #{platformProportion},</if>
            <if test="depositNumber != null">deposit_number = #{depositNumber},</if>
        </trim>
        where order_number = #{orderNumber}
    </update>

    <delete id="deleteUserLeaseOrderById" parameterType="Long">
        delete from user_lease_order where id = #{id}
    </delete>

    <delete id="deleteUserLeaseOrderByIds" parameterType="String">
        delete from user_lease_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteUserLeaseOrderByOrderNumber">
        delete from user_lease_order where order_number = #{orderNumber} and is_valid = 0
    </delete>

    <select id="selectUserLeaseOrder" parameterType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        where device_number in
        <foreach item="deviceNumber" collection="deviceNumber" index="index" open="(" separator="," close=")">
            #{deviceNumber}
        </foreach>
    </select>
    <select id="selectLeaseOrderDetails" parameterType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        where order_number=#{orderNumber}
    </select>

    <select id="selectRevenueStatistics" parameterType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        where status=2
        and device_number in
        <foreach item="device_number" collection="list" index="index" open="(" separator="," close=")">
            #{device_number}
        </foreach>
    </select>

    <select id="selectDayOrder" resultType="com.yuepei.system.domain.vo.OrderSumAndMoneyVO">
        SELECT (SELECT COUNT(1) FROM user_lease_order WHERE DATE_SUB(CURDATE(), INTERVAL 0 DAY) &lt;= lease_time AND `status` = 2 and is_valid = 1) AS `todayOrderNum`,
        (SELECT IFNULL(SUM(net_amount),0.00) FROM user_lease_order WHERE DATE_SUB(CURDATE(), INTERVAL 0 DAY) &lt;= create_time AND `status` = 2 and is_valid = 1) AS todayOrderMoney,
        (SELECT COUNT(1) FROM user_lease_order WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= lease_time AND `status` = 2 and is_valid = 1) AS `sevenDayOrderNum`,
        (SELECT IFNULL(SUM(net_amount),0.00) FROM user_lease_order WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= create_time AND `status` = 2 and is_valid = 1) AS sevenDayOrderMoney,
        (SELECT COUNT(1) FROM user_lease_order WHERE DATE_SUB(CURDATE(), INTERVAL 29 DAY) &lt;= lease_time AND `status` = 2 and is_valid = 1) AS thirtyDayOrderNum,
        (SELECT IFNULL(SUM(net_amount),0.00) FROM user_lease_order WHERE DATE_SUB(CURDATE(), INTERVAL 29 DAY) &lt;= create_time AND `status` = 2 and is_valid = 1) AS thirtyDayOrderMoney
    </select>
    <select id="selectConditionOrder" resultType="com.yuepei.system.domain.vo.ConditionOrderVO">
        SELECT (SELECT IFNULL(SUM(net_amount),0) FROM user_lease_order
            <where>
                and is_valid = 1
                <if test="deviceNumber != null  and deviceNumber != ''"> and device_number = #{deviceNumber}</if>
                <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
                <if test="status != null  and status != ''"> and status = #{status}</if>
                <if test="outTradeNo != null and outTradeNo != ''"> and out_trade_no = #{outTradeNo},</if>
            </where>) AS conditionOrderMoney,
        (SELECT COUNT(1) FROM user_lease_order AS lo
        INNER JOIN sys_user AS u ON lo.`openid` = u.`openid`
        INNER JOIN device AS d ON d.`device_number` = lo.`device_number`
        INNER JOIN hospital AS h ON d.`hospital_id` = h.`hospital_id`
        INNER JOIN agent_hospital AS ah ON ah.`hospital_id` = h.`hospital_id`
        INNER JOIN sys_user AS su ON su.`user_id` = ah.`agent_id`
            <where>
                and lo.is_valid = 1
                <if test="deviceNumber != null  and deviceNumber != ''"> and lo.device_number = #{deviceNumber}</if>
                <if test="payType != null  and payType != ''"> and lo.pay_type = #{payType}</if>
                <if test="status != null  and status != ''"> and lo.status = #{status}</if>
                <if test="outTradeNo != null and outTradeNo != ''"> and lo.out_trade_no = #{outTradeNo},</if>
            </where>) AS conditionOrderNum
    </select>
    <select id="selectUserLeaseOrderByDeviceNumber" parameterType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        where status=2
        and device_number=#{deviceNumber}
    </select>
    <select id="selectUseDevice" resultType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        select distinct device_number from user_lease_order where device_number=#{deviceNumber} and status=0
    </select>
    <select id="selectUserLeaseOrderByOrderNumber" parameterType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        where CONCAT(IFNULL(order_number,''),IFNULL(device_number,'')) LIKE concat('%',#{orderNumber},'%')
    </select>
    <select id="selectUserLeaseOrderByDevice" parameterType="UserLeaseOrder" resultMap="UserLeaseOrderResult">
        <include refid="selectUserLeaseOrderVo"/>
        where device_number =#{deviceNumber}
    </select>
    <select id="selectUserOrderByDeviceNumber" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM user_lease_order WHERE device_number = #{deviceNumber} and
            openid = #{openid} and status != 2
    </select>
    <select id="selectUserDepositList" resultType="java.lang.String">
        SELECT order_number FROM user_deposit_order
        WHERE device_number = #{deviceNumber} AND deposit_status = 0
          AND `status` = 1 AND openid = #{openid}
    </select>
    <select id="selectUSerLeaseOrderDeposit" resultType="java.lang.String">
        SELECT deposit_number FROM user_lease_order
        WHERE openid = #{openid} AND device_number = #{deviceNumber}
    </select>
    <select id="selectUserOrderDepositList" resultMap="UserOrderResult">
        SELECT openid,order_number,device_number,deposit_number
        FROM user_lease_order WHERE openid = #{openid}
                                AND `status` IN (0,1)
    </select>
    <select id="selectOrderByDeviceNumberAndChoose" resultMap="UserLeaseOrderResult">
        SELECT `id`,`openid`,`order_number`,`device_number`,`out_trade_no`,`device_rule`,`device_type`,`lease_time`,`lease_address`,
               `restore_time`,`restore_address`,`time_price`,`fixed_price`,`price`,`investorProportion`,`hospitalProportion`,`agentProportion`,
               `platformProportion`,`pay_type`,`net_amount`,`coupon_price`,`status`,`play_time`,`choose`,`child`,`deposit`,`create_time`,`deposit_number`,`is_valid`
        FROM `user_lease_order` where child = #{substring1} and `status` = 0
    </select>
    <select id="selectUserLeaseOrderByOpenId" resultMap="UserLeaseOrderResult">
        SELECT `id`,`openid`,`order_number`,`device_number`,`out_trade_no`,`device_rule`,`device_type`,`lease_time`,`lease_address`,
               `restore_time`,`restore_address`,`time_price`,`fixed_price`,`price`,`investorProportion`,`hospitalProportion`,`agentProportion`,
               `platformProportion`,`pay_type`,`net_amount`,`coupon_price`,`status`,`play_time`,`choose`,`child`,`deposit`,`create_time`,`deposit_number`,`is_valid`
        FROM `user_lease_order` where order_number = #{orderNumber}
    </select>
    <select id="selectOrderByDeviceNumber" resultMap="UserLeaseOrderResult">
        SELECT `id`,`openid`,`order_number`,`device_number`,`out_trade_no`,`device_rule`,`device_type`,`lease_time`,`lease_address`,
               `restore_time`,`restore_address`,`time_price`,`fixed_price`,`price`,`investorProportion`,`hospitalProportion`,`agentProportion`,
               `platformProportion`,`pay_type`,`net_amount`,`coupon_price`,`status`,`play_time`,`choose`,`child`,`deposit`,`create_time`,`deposit_number`,`is_valid`
        FROM `user_lease_order` where child = #{substring1} and `status` = 0 and is_valid = 1
    </select>
</mapper>
