<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.UserDepositDetailMapper">

    <resultMap type="com.yuepei.system.domain.vo.UserIntegralBalanceDepositVo" id="UserDepositDetailResult">
        <result property="id"    column="id"    />
        <result property="openid"    column="openid"    />
        <result property="sum"    column="sum"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectUserDepositDetailVo">
        select id, openid, sum, create_time, status from user_deposit_detail
    </sql>

    <select id="selectUserDepositDetailList" parameterType="com.yuepei.system.domain.vo.UserIntegralBalanceDepositVo" resultMap="UserDepositDetailResult">
        <include refid="selectUserDepositDetailVo"/>
        <where>
            <if test="openid != null  and openid != ''"> and openid = #{openid}</if>
            <if test="sum != null  and sum != ''"> and sum = #{sum}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectUserDepositDetailByOpenid" parameterType="Long" resultMap="UserDepositDetailResult">
        select * from user_deposit_detail
        <where>
            openid = #{openid}
            <if test="status != null"> and status = #{status}</if>
        </where>
    </select>

    <insert id="insertUserDepositDetail" parameterType="com.yuepei.system.domain.vo.UserIntegralBalanceDepositVo" useGeneratedKeys="true" keyProperty="id">
        insert into user_deposit_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null">openid,</if>
            <if test="sum != null">sum,</if>
            <if test="createTime != null">create_time,</if>
            <if test="status != null">status,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null">#{openid},</if>
            <if test="sum != null">#{sum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="status != null">#{status},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateUserDepositDetail" parameterType="com.yuepei.system.domain.vo.UserIntegralBalanceDepositVo">
        update user_deposit_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null">openid = #{openid},</if>
            <if test="sum != null">sum = #{sum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserDepositDetailById" parameterType="Long">
        delete from user_deposit_detail where id = #{id}
    </delete>

    <delete id="deleteUserDepositDetailByIds" parameterType="String">
        delete from user_deposit_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
