<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.ServiceAgreementMapper">

    <resultMap type="ServiceAgreement" id="ServiceAgreementResult">
        <result property="serviceAgreementId"    column="service_agreement_id"    />
        <result property="serviceAgreementTitle"    column="service_agreement_title"    />
        <result property="serviceAgreementInfo"    column="service_agreement_info"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectServiceAgreementVo">
        select service_agreement_id, service_agreement_title, service_agreement_info, create_time from service_agreement
    </sql>

    <select id="selectServiceAgreementList" parameterType="ServiceAgreement" resultMap="ServiceAgreementResult">
        <include refid="selectServiceAgreementVo"/>
        <where>
            <if test="serviceAgreementTitle != null  and serviceAgreementTitle != ''"> and service_agreement_title = #{serviceAgreementTitle}</if>
            <if test="serviceAgreementInfo != null  and serviceAgreementInfo != ''"> and service_agreement_info = #{serviceAgreementInfo}</if>
        </where>
    </select>

    <select id="selectServiceAgreementByServiceAgreementId" parameterType="Long" resultMap="ServiceAgreementResult">
        <include refid="selectServiceAgreementVo"/>
        where service_agreement_id = #{serviceAgreementId}
    </select>
    <select id="compactList" resultMap="ServiceAgreementResult">
        <include refid="selectServiceAgreementVo"/>
    </select>

    <insert id="insertServiceAgreement" parameterType="ServiceAgreement" useGeneratedKeys="true" keyProperty="serviceAgreementId">
        insert into service_agreement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serviceAgreementTitle != null">service_agreement_title,</if>
            <if test="serviceAgreementInfo != null">service_agreement_info,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serviceAgreementTitle != null">#{serviceAgreementTitle},</if>
            <if test="serviceAgreementInfo != null">#{serviceAgreementInfo},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateServiceAgreement" parameterType="ServiceAgreement">
        update service_agreement
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceAgreementTitle != null">service_agreement_title = #{serviceAgreementTitle},</if>
            <if test="serviceAgreementInfo != null">service_agreement_info = #{serviceAgreementInfo},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where service_agreement_id = #{serviceAgreementId}
    </update>

    <delete id="deleteServiceAgreementByServiceAgreementId" parameterType="Long">
        delete from service_agreement where service_agreement_id = #{serviceAgreementId}
    </delete>

    <delete id="deleteServiceAgreementByServiceAgreementIds" parameterType="String">
        delete from service_agreement where service_agreement_id in
        <foreach item="serviceAgreementId" collection="array" open="(" separator="," close=")">
            #{serviceAgreementId}
        </foreach>
    </delete>
</mapper>