<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuepei.system.mapper.GoodsTypeMapper">

    <resultMap type="com.yuepei.system.domain.GoodsType" id="GoodsTypeResult">
        <result property="goodsTypeId"    column="goods_type_id"    />
        <result property="goodsTypeName"    column="goods_type_name"    />
    </resultMap>

    <sql id="selectGoodsTypeVo">
        select goods_type_id, goods_type_name from goods_type
    </sql>

    <select id="selectGoodsTypeList" parameterType="com.yuepei.system.domain.GoodsType" resultMap="GoodsTypeResult">
        <include refid="selectGoodsTypeVo"/>
        <where>
            <if test="goodsTypeName != null  and goodsTypeName != ''"> and goods_type_name like concat('%', #{goodsTypeName}, '%')</if>
        </where>
    </select>

    <select id="selectGoodsTypeByGoodsTypeId" parameterType="Long" resultMap="GoodsTypeResult">
        <include refid="selectGoodsTypeVo"/>
        where goods_type_id = #{goodsTypeId}
    </select>
    <select id="checkGoodsType" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM goods_type
        <where>
            goods_type_name = #{goodsTypeName}
            <if test="goodsTypeId != null">
                goods_type_id != #{goodsTypeId}
            </if>
        </where>
    </select>
    <select id="checkGoodsTypeByIds" resultType="java.lang.Integer">
        select count(1) from goods where goods_type_id in
        <foreach item="goodsTypeId" collection="array" open="(" separator="," close=")">
            #{goodsTypeId}
        </foreach>
    </select>

    <insert id="insertGoodsType" parameterType="com.yuepei.system.domain.GoodsType" useGeneratedKeys="true" keyProperty="goodsTypeId">
        insert into goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsTypeName != null">goods_type_name,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsTypeName != null">#{goodsTypeName},</if>
        </trim>
    </insert>

    <update id="updateGoodsType" parameterType="com.yuepei.system.domain.GoodsType">
        update goods_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsTypeName != null">goods_type_name = #{goodsTypeName},</if>
        </trim>
        where goods_type_id = #{goodsTypeId}
    </update>

    <delete id="deleteGoodsTypeByGoodsTypeId" parameterType="Long">
        delete from goods_type where goods_type_id = #{goodsTypeId}
    </delete>

    <delete id="deleteGoodsTypeByGoodsTypeIds" parameterType="String">
        delete from goods_type where goods_type_id in
        <foreach item="goodsTypeId" collection="array" open="(" separator="," close=")">
            #{goodsTypeId}
        </foreach>
    </delete>
</mapper>
